<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222383306115-upd23k20ipc0s5r78djlgt8oesa3e5p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222383306115-upd23k20ipc0s5r78djlgt8oesa3e5p4</string>
	<key>API_KEY</key>
	<string>AIzaSyD4JEr6b_-HPM9HNFD3iOox_3oT8bU1d0M</string>
	<key>GCM_SENDER_ID</key>
	<string>222383306115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-8417a</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-8417a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222383306115:ios:cdf8b10bc27756d5fab2b6</string>
</dict>
</plist>